<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>

<!--<header th:insert="views/headfoot/header :: header"></header>-->

<div>
    <h1 th:text="${date}">
    </h1>
</div>

<form action="/useradd" method="post">
    <input class="form-control" type="text" name="anun" placeholder="Input Name">
    <input class="form-control" type="text" name="azganun" placeholder="Input Surname">
    <input class="form-control" type="number" name="tariq" placeholder="input Age">
    <button class="btn btn-success" type="submit">Register</button>
</form>

<!--<footer th:insert="views/headfoot/footer :: footer"></footer>-->

</body>
</html>