<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">sBank</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Main Page</a>
            <a class="p-2 text-dark" href="/useradd">Add User</a>
            <a class="p-2 text-dark" href="showusers">Show Users</a>
            <a class="p-2 text-dark" href="deleteuser">Delete User</a>
            <a class="p-2 text-dark" href="about">About</a>
        </nav>
        <a class="btn btn-outline-primary" href="#">***</a>
    </div>
</div>
